.bomb-component .bomb-icon {
  transform: translateX(-50%);
  fill: var(--red);
}

.bomb-component .bomb-icon.defused {
  fill: var(--green);
}

.bomb-component .timer-border {
  fill: none;
  stroke: rgb(0, 0, 0);
}

.bomb-component .timer-background {
  fill: none;
  stroke: rgb(23, 23, 23);
}

.bomb-component .timer {
  fill: none;
  stroke: var(--red);
}
