.inferno-component .fires {
  opacity: 0.66;
}

circle.fire {
  fill: rgb(255, 130, 46);
}

.inferno-component.type-0 circle.timer-background {
  fill: none;
  stroke: hsl(44, 80%, 25%);
}

.inferno-component.type-1 circle.timer-background {
  fill: none;
  stroke: hsl(215, 100%, 25%);
}

.inferno-component.type-0 circle.timer-progress {
  fill: none;
  stroke: rgb(231, 180, 44);
}

.inferno-component.type-1 circle.timer-progress {
  fill: none;
  stroke: rgb(17, 116, 255);
}

.t .inferno circle {
  fill: rgb(231, 180, 44);
}

.ct .inferno circle {
  fill: rgb(17, 116, 255);
}
