.hud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 30%;
  min-width: 280px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
  gap: 10px;
  border-style: dashed;
  border-color: rgb(133, 133, 133);
  border-width: 0px 1px 0px 0px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
}

.hud.ct {
  transform: scaleX(-1);
}

.hud.ct span {
  transform: scaleX(-1);
}

.hud .player {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60px;
  width: 100%;
  background-color: rgb(23, 23, 23);
  transition: width 0.3s ease;
}

.hud .player.dead {
  width: 75%;
}

.player .top {
  position: relative;
  display: flex;
  align-items: center;
  height: 50%;
  justify-content: start;
  z-index: 1;
}

.top .nickname {
  display: flex;
  height: 100%;
  justify-content: end;
  align-items: center;
  font-weight: 500;
}

.top .health-container {
  display: flex;
  height: 100%;
  width: 26px;
  padding: 0px 10px;
}

.top .health {
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 800;
}

.top .health-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: width 0.2s ease;
}

.t .health-bar {
  background-color: rgb(255, 207, 46);
}

.ct .health-bar {
  background-color: rgb(59, 105, 220);
}

.player .bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50%;
  padding: 0 10px;
  gap: 10px;
}

.bottom .armor,
.bottom .kit {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 18px;
}

span.kit {
  color: white;
  fill: white;
}
