.hud {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 30%;
  min-width: 280px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
  gap: 10px;
  border-style: dashed;
  border-color: rgb(133, 133, 133);
  border-width: 0px 1px 0px 0px;
  color: rgb(255, 255, 255);
}

.hud.ct {
  transform: scaleX(-1);
}

.hud.ct span {
  transform: scaleX(-1);
}

.player-grid {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 48px 1fr 90px;
  grid-template-rows: 28px 28px 28px;
  background-color: rgb(23, 23, 23);
  align-items: center;
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease;
}

.player-grid.dead {
  width: calc(100% - 90px);
  grid-template-columns: 48px 1fr 0px;
}

.hud .death {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  opacity: 0;
  z-index: -1;
  transition: all 0.1s ease-in-out;
}

.hud .death.visible {
  z-index: 1;
  opacity: 1;
}

.hud .death .skull {
  width: 50px;
}

.hud .health-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 28px;
  z-index: -1;
  transition: width 0.2s ease;
}

.hud.t .health-bar {
  background-color: var(--t);
}

.hud.ct .health-bar {
  background-color: var(--ct);
}

.player-grid .health {
  display: flex;
  justify-content: start;
  margin-left: 10px;
  font-weight: 700;
}

.player-grid .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-right: 10px;
}

.player-grid .spec,
.player-grid .armor {
  display: flex;
  margin-left: 10px;
  justify-content: start;
}

.t .player-grid .spec svg,
.player-grid .armor .shield {
  width: 20px;
  transform: translateX(-2px);
}

.ct .player-grid .spec svg {
  transform: scaleX(-1) translateX(2px);
  width: 20px;
}

.player-grid .primary {
  display: flex;
  margin-right: 10px;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.player-grid .primary svg {
  max-width: 100%;
  max-height: 90%;
}

.player-grid .grenades {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px;
  align-items: center;
  margin-right: 10px;
}

.player-grid .grenade {
  display: flex;
  justify-content: start;
}

.player-grid .grenades svg {
  height: 24px;
  width: 20px;
}

.player-grid .money,
.player-grid .secondary {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  color: var(--green);
}

.player-grid .secondary svg {
  max-width: 100%;
  max-height: 80%;
}

.player-grid .stats-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.player-grid .stats {
  display: grid;
  grid-template-columns: 36px 36px;
  align-items: center;
  height: 100%;
  gap: 8px;
}

.ct .player-grid .stats-container div {
  transform: scaleX(-1);
}

.player-grid .stat-val {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.player-grid .round-kills {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: 700;
}

.t .sb-icon {
  stroke: var(--t);
}

.ct .sb-icon {
  stroke: var(--ct);
}
