.rounds {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  justify-content: safe center;
  align-items: center;
  height: 36px;
  min-height: 36px;
  background-color: var(--background);
  border-color: var(--border);
  border-width: 1px 0px 0px 0px;
  border-style: dashed;
}

.rounds .round {
  position: relative;
  height: 100%;
  width: 36px;
  border: 0px;
  border-radius: 0px;
  font-weight: 400;
  font-size: 13px;
}

.rounds .round:hover {
  background-color: transparent !important;
}

.rounds .round.checked {
  background-color: transparent !important;
  font-weight: 700;
  text-shadow: 0px 0px 2px black;
}

.rounds .round span {
  justify-content: center;
  font-weight: 300;
  transform: translateY(1px);
  z-index: 1;
}

.rounds span.loaded {
  font-weight: 700;
}

.rounds .round::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 2px;
  bottom: 0px;
  transition: all 0.2s ease;
}

.rounds .round:hover::after {
  height: 4px;
}

.rounds .round.checked::after {
  height: 100%;
}

.rounds .round.t::after {
  background-color: var(--t);
}

.rounds .round.ct::after {
  background-color: var(--ct);
}
