.checkbox-button {
  background-color: var(--background);
  border-color: var(--border);
  color: var(--border);
  fill: var(--border);
  height: 32px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.checkbox-button.checked {
  background-color: var(--checked);
  border-color: var(--border);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}

.checkbox-button:hover,
.checkbox-button:focus-visible {
  background-color: var(--border);
  border-color: var(--border);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}

.checkbox-button:focus-visible {
  outline: none;
}

.checkbox-button.left,
.checkbox-button.left:hover,
.checkbox-button.left:focus-visible {
  border-width: 1px 0px 1px 1px;
  border-radius: 5px 0px 0px 5px;
}

.checkbox-button.mid,
.checkbox-button.mid:hover,
.checkbox-button.mid:focus-visible {
  border-width: 1px 0px 1px 1px;
  border-radius: 0px;
}

.checkbox-button.right,
.checkbox-button.right:hover,
.checkbox-button.right:focus-visible {
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 5px 5px 0px;
}

.checkbox-button.top,
.checkbox-button.top:hover,
.checkbox-button.top:focus-visible {
  border-width: 1px 1px 0px 1px;
  border-radius: 5px 5px 0px 0px;
}

.checkbox-button.top-left,
.checkbox-button.top-left:hover,
.checkbox-button.top-left:focus-visible {
  border-width: 1px 0px 0px 1px;
  border-radius: 5px 0px 0px 0px;
}

.checkbox-button.top-mid,
.checkbox-button.top-mid:hover,
.checkbox-button.top-mid:focus-visible {
  border-width: 1px 0px 0px 1px;
  border-radius: 0px 0px 0px 0px;
}

.checkbox-button.top-right,
.checkbox-button.top-right:hover,
.checkbox-button.top-right:focus-visible {
  border-width: 1px 1px 0px 1px;
  border-radius: 0px 5px 0px 0px;
}

.checkbox-button.bottom-left,
.checkbox-button.bottom-left:hover,
.checkbox-button.bottom-left:focus-visible {
  border-width: 1px 0px 1px 1px;
  border-radius: 0px 0px 0px 5px;
}

.checkbox-button.bottom-right,
.checkbox-button.bottom-right:hover,
.checkbox-button.bottom-right:focus-visible {
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 5px 0px;
}

.checkbox-button.bottom,
.checkbox-button.bottom:hover,
.checkbox-button.bottom:focus-visible {
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
}

.checkbox-button.mid-mid,
.checkbox-button.mid-mid:hover,
.checkbox-button.mid-mid:focus-visible {
  border-width: 1px 1px 0px 1px;
  border-radius: 0px 0px 0px 0px;
}

.checkbox-button.mid-mid2,
.checkbox-button.mid-mid2:hover,
.checkbox-button.mid-mid2:focus-visible {
  border-width: 1px 0px 0px 1px;
  border-radius: 0px 0px 0px 0px;
}

.checkbox-button.mid-right,
.checkbox-button.mid-right:hover,
.checkbox-button.mid-right:focus-visible {
  border-width: 1px 1px 0px 1px;
  border-radius: 0px 0px 0px 0px;
}

.checkbox-button.team-name,
.checkbox-button.team-name:hover,
.checkbox-button.team-name:focus-visible {
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 5px 5px 0px;
}

.checkbox-button.economy-team-a,
.checkbox-button.economy-team-a:hover,
.checkbox-button.economy-team-a:focus-visible {
  border-width: 1px 0px 0px 1px;
  border-radius: 5px 0px 0px 0px;
}

.checkbox-button.economy-team-b,
.checkbox-button.economy-team-b:hover,
.checkbox-button.economy-team-b:focus-visible {
  border-width: 1px 1px 0px 1px;
  border-radius: 0px 5px 0px 0px;
}

.checkbox-button.economy-left {
  border-width: 1px 0px 0px 1px;
  border-radius: 0px 0px 0px 0px;
}

.checkbox-button.economy-left:hover {
  border-width: 1px 0px 0px 1px;
}

.checkbox-button.economy-right {
  border-width: 1px 1px 0px 1px;
  border-radius: 0px 0px 0px 0px;
}

.checkbox-button.economy-right:hover {
  border-width: 1px 1px 0px 1px;
}

.checkbox-button.economy-pistol {
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
}

.checkbox-button.economy-pistol:hover {
  border-width: 1px 1px 1px 1px;
}

.checkbox-button.round.first {
  height: 100%;
  min-width: 50px;
  border-radius: 0px;
  border-width: 0px 1px 0px 1px;
  font-size: small;
}

.checkbox-button.round.else {
  height: 100%;
  min-width: 50px;
  border-radius: 0px;
  border-width: 0px 1px 0px 0px;
  font-size: small;
}

.checkbox-button.round.unchecked {
  background-color: var(--dark);
}

.checkbox-button.checked .grenade-icon.smoke,
.checkbox-button.hover .grenade-icon.smoke,
.checkbox-button.focus-visible .grenade-icon.smoke {
  fill: rgb(228, 228, 238);
}

.checkbox-button.checked .grenade-icon.flash,
.checkbox-button:hover .grenade-icon.flash,
.checkbox-button:focus-visible .grenade-icon.flash {
  fill: rgb(45, 206, 245);
}

.checkbox-button.checked .grenade-icon.fire,
.checkbox-button:hover .grenade-icon.fire,
.checkbox-button:focus-visible .grenade-icon.fire {
  fill: rgb(244, 175, 45);
}

.checkbox-button.checked .grenade-icon.he,
.checkbox-button:hover .grenade-icon.he,
.checkbox-button:focus-visible .grenade-icon.he {
  fill: var(--red);
}

.checkbox-button.checked .grenade-icon.decoy,
.checkbox-button:hover .grenade-icon.decoy,
.checkbox-button:focus-visible .grenade-icon.decoy {
  fill: rgb(98, 240, 48);
}

.checkbox-button.nohover,
.checkbox-button.nohover:hover,
.checkbox-button.nohover:focus-visible {
  background-color: var(--background);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  cursor: default;
}

.checkbox-button.nobackground,
.checkbox-button.nobackground:hover,
.checkbox-button.nobackground:focus-visible {
  background: none;
}

.checkbox-button.nohover-checked,
.checkbox-button.nohover-checked:hover,
.checkbox-button.nohover-checked:focus-visible {
  background-color: var(--checked);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  cursor: default;
}

.checkbox-button.noborder,
.checkbox-button.noborder:hover,
.checkbox-button.noborder:focus-visible {
  border-width: 0px;
}

.checkbox-button.info-button:hover,
.checkbox-button.info-button:focus-visible {
  background-color: var(--background);
}

.checkbox-button.bold {
  font-weight: bold;
}

.checkbox-button.round.unchecked {
  background-color: var(--background);
  border: none;
}

.checkbox-button.round,
.checkbox-button.round:hover,
.checkbox-button.round:focus-visible {
  background-color: var(--checked);
}
