@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.replay-player {
  --t: rgb(231, 180, 44);
  --ct: rgb(17, 116, 255);
  --green: rgb(42, 206, 102);
  --red: rgb(230, 50, 45);
  --dark: #18181b;
  --background: #09090b;
  --hover: #3f3f46;
  --border: #71717a;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}
