@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.replay-player {
  --t: rgb(231, 180, 44);
  --ct: rgb(17, 116, 255);
  --green: rgb(42, 206, 102);
  --red: rgb(230, 50, 45);
  --dark: rgb(23, 23, 23);
  --background: rgb(35, 35, 35);
  --check: rgb(50, 50, 50);
  --hover: rgb(73, 73, 73);
  --border: rgb(133, 133, 133);
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}
