.settings .keybinds .content {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  width: 100%;
  align-items: center;
  row-gap: 8px;
  column-gap: 16px;
}

.settings .keybinds .key-interaction {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}
