.playback-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 10px;
  background-color: var(--dark);
  border-color: var(--border);
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playback-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-color: var(--border);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.playback-panel {
  position: relative;
  display: grid;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);
  stroke: rgb(255, 255, 255);
  font-size: 14px;
}

.playback-panel.left {
  grid-template-columns: 36px 36px;
  border-right: 1px solid var(--border);
  column-gap: 1px;
  background-color: var(--border);
  border-radius: 3px 0 0 3px;
}

.playback-panel .checkbox-button {
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
  border-width: 0px;
  background: transparent;
  padding: 0px;
  overflow: hidden;
  border-radius: 0;
  background-color: var(--dark);
  color: rgb(255, 255, 255);
}

.playback-panel .checkbox-button:hover,
.playback-panel .checkbox-button:focus-visible {
  border-width: 0;
  background-color: var(--check);
}

.playback-panel.left .speed,
.playback-panel.left .speed:hover {
  border-radius: 3px 0 0 3px;
}

.playback-panel .pause {
  stroke: rgb(255, 255, 255);
}
