.killfeed .kill {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  height: 24px;
  padding: 0 8px;
  margin-bottom: 4px;
  overflow: hidden;
}

.kill .kill-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  z-index: -1;
  opacity: 0.7;
}

.kill svg.icon {
  height: 16px;
  width: 16px;
}

.kill svg {
  height: 16px;
}

.kill .t {
  color: var(--t);
}

.kill .ct {
  color: var(--ct);
}
