.scoreboard .timer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-style: solid;
  border-width: 2px 0;
  border-image: linear-gradient(to right, var(--t), var(--ct)) 1;
}

.scoreboard .timer.plant {
  color: var(--red);
}

.scoreboard .timer .time {
  display: flex;
  align-items: center;
  width: 64px;
  justify-content: space-between;
}

.scoreboard .time .icon {
  width: 16px;
}
