.slider-component .hover-container {
  position: absolute;
  height: 48px;
  background-color: transparent;
  top: -40px;
  transform: translateX(-50%);
  display: flex;
  align-items: start;
}

.hover-container .hover-content {
  display: flex;
  background-color: var(--dark);
  border-style: solid;
  border-color: var(--border);
  border-width: 1px;
  border-radius: 4px;
  overflow: hidden;
}

.hover-container .grenade-hover:not(:last-child) {
  border-right: 1px solid var(--border);
}

.hover-container .grenade-hover {
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.hover-container .grenade-hover:hover {
  background-color: var(--background);
}

.hover-container .grenade-hover svg {
  height: 100%;
  width: 100%;
  transform: translateX(1px);
}

.hover-container .grenade-hover.t {
  fill: var(--t);
}

.hover-container .grenade-hover.ct {
  fill: var(--ct);
}
