.mark::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 26px;
  background-color: white;
  z-index: 1;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
}

.mark.end {
  z-index: 2;
}

.mark.end::after {
  background-color: var(--red);
}

.mark.plant::after {
  background-color: var(--red);
}

.mark.interval {
  z-index: -1;
}

.mark.interval::after {
  background-color: transparent; /* Tło przezroczyste, bo używamy gradientu */
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent 2px,
    white 2px,
    white 6px,
    transparent 6px,
    transparent 8px
  );
  opacity: 0.15;
}

.mark.kill.t::after {
  background-color: var(--ct);
}

.mark.kill.ct::after {
  background-color: var(--t);
}

.mark-triangle::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid var(--green);
}

.mark-triangle.grenade.t::after {
  border-bottom-color: var(--t);
}

.mark-triangle.grenade.ct::after {
  border-bottom-color: var(--ct);
}
