circle.player {
  stroke: rgb(255, 255, 255);
}

.t circle.player {
  fill: rgb(231, 180, 44);
}

.ct circle.player {
  fill: rgb(17, 116, 255);
}

polygon.yaw {
  fill: rgb(255, 255, 255);
}

text.nickname {
  fill: rgb(255, 255, 255);
  font-weight: 400;
  text-anchor: middle;
  opacity: 0.8;
}

circle.health {
  fill: none;
  stroke: rgb(230, 50, 45);
}

.weapon {
  transform: translateX(-50%);
  fill: rgb(255, 255, 255);
  opacity: 0.8;
}

circle.blindness {
  fill: rgb(255, 255, 255);
}

circle.plant-border {
  fill: none;
  stroke: rgb(0, 0, 0);
}

circle.plant-background,
circle.defuse-background {
  fill: none;
  stroke: rgb(23, 23, 23);
}

circle.plant-progress {
  fill: none;
  stroke: rgb(230, 50, 45);
}

circle.defuse-border {
  fill: none;
  stroke: rgb(0, 0, 0);
}

circle.defuse-progress {
  fill: none;
  stroke: rgba(42, 206, 102);
}

.bomb-eq svg {
  fill: rgb(230, 50, 45);
}
