.sketch-config {
  position: relative;
  height: 100%;
  width: 100%;
}

.sketch-config-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  background-color: var(--dark);
  transition: all 0.3s ease;
}

.sketch-config-button:hover,
.sketch-config-button:focus-visible {
  background-color: var(--check);
  outline: 0;
}

.sketch-config-button .sketch-config-hover {
  position: absolute;
  width: 100%;
  height: 100%;
}
