.inferno-component .fires {
  opacity: 0.66;
}

circle.fire {
  fill: rgb(255, 130, 46);
}

.inferno-component.type-0 circle.timer-background {
  fill: none;
  stroke: hsl(44, 80%, 25%);
}

.inferno-component.type-1 circle.timer-background {
  fill: none;
  stroke: hsl(215, 100%, 25%);
}

.inferno-component.type-0 circle.timer-progress {
  fill: none;
  stroke: var(--t);
}

.inferno-component.type-1 circle.timer-progress {
  fill: none;
  stroke: var(--ct);
}

.t .inferno circle {
  fill: var(--t);
}

.ct .inferno circle {
  fill: var(--ct);
}
