.level-toggle {
  display: flex;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 32px;
  height: 32px;
  z-index: 1;
  padding: 4px;
  color: rgb(255, 255, 255);
  gap: 4px;
  align-items: center;
}
