#sketch-tooltip {
  display: grid;
  grid-template-rows: 28px 28px 28px;
  row-gap: 8px;
  background-color: var(--dark);
  border-radius: 4px;
  z-index: 1;
  padding: 8px;
  width: 168px;
  margin: 0;
}

#sketch-tooltip .pen-radius {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#sketch-tooltip .slider-default {
  width: 100%;
  padding: 0 7px;
}

#sketch-tooltip .radius-value {
  height: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch-tooltip .radius-value span {
  display: flex;
  font-size: 14px;
  justify-content: center;
}

#sketch-tooltip .action-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  background-color: var(--border);
  border: 1px solid var(--border);
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
}

#sketch-tooltip .action-controls > * {
  border-width: 0px;
  border-radius: 0;
  background-color: var(--dark);
}

#sketch-tooltip .action-controls > *:not(.disabled) {
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

#sketch-tooltip .action-controls > *:not(.disabled):hover {
  background-color: var(--hover);
}

#sketch-tooltip .action-controls > *:not(.disabled):focus-visible {
  background-color: var(--hover);
}

#sketch-tooltip .action-controls > *.disabled {
  fill: var(--border);
  color: var(--border);
  cursor: default;
}
