.decoy circle {
  fill: rgb(98, 240, 48);
}

.molotov circle,
.incgrenade circle {
  fill: rgb(244, 175, 45);
}

.flashbang circle {
  fill: rgb(255, 255, 255);
}

.smokegrenade circle {
  fill: rgb(228, 228, 238);
}

.hegrenade circle {
  fill: var(--red);
}

.grenade-component.t polyline {
  stroke: var(--t);
}

.grenade-component.ct polyline {
  stroke: var(--ct);
}

.grenade-component polyline {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.smokegrenade-smoke circle.smoke {
  stroke-width: 0;
  opacity: 0.4;
}

.t .smokegrenade-smoke circle.stroke {
  stroke: var(--t);
}

.ct .smokegrenade-smoke circle.stroke {
  stroke: var(--ct);
}

.smokegrenade-smoke circle.stroke {
  fill: none;
}

.smokegrenade-smoke text {
  font-weight: 300;
  fill: rgb(255, 255, 255);
  opacity: 0.8;
  text-anchor: middle;
}

.grenade-component.t .grenade-icon {
  fill: var(--t);
}

.grenade-component.ct .grenade-icon {
  fill: var(--ct);
}

.grenade-component .grenade-icon svg path {
  stroke-width: 2.5%;
  stroke: black;
}

circle.flash-explosion {
  opacity: 0.8;
}

.grenade-component .grenade-icon {
  transform: translateX(-50%);
}

.grenade-component circle.bounce {
  fill: none;
}

.grenade-component.t circle.bounce {
  stroke: var(--t);
}

.grenade-component.ct circle.bounce {
  stroke: var(--ct);
}
